<!DOCTYPE html>
<html>
<head>
  <title>ActsAsBookable</title>
  <%= stylesheet_link_tag    "acts_as_bookable/application", media: "all" %>
  <%= javascript_include_tag "acts_as_bookable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
