sqlite3:
  adapter: sqlite3
  database: ':memory:'

mysql:
  adapter: mysql2
  host: localhost
  username: root
  database: acts_as_bookable
  charset: utf8

postgresql:
  adapter: postgresql
  hostname: localhost
  username: postgres
  database: acts_as_bookable
  encoding: utf8
